@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Brasília-DF<br />
    Brasil<br />
    <abbr title="Phone">T:</abbr>
    9999-9999
</address>

<address>
    <strong>Emaol:</strong> <a href="mailto:teste@teste.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@teste.com">Marketing@example.com</a>
</address>
